@import url('https://fonts.googleapis.com/css?family=Cairo');
body {
    font-family: 'tahoma', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
    direction: rtl;
}

.navbar .nav > li > a ,h1,h2,h3,h4,.box-bottom a,.site-top a,.btn,.contacts strong,#inner-headline ul.breadcrumb li{
    font-family: 'Cairo', sans-serif;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
}
.navbar-nav > li {
    float: right;
}
.navbar-header {
    float: right;
}
header .navbar-collapse ul.navbar-nav {
    float: left;
}
.navbar .nav > li > a {
    margin-right: 25px;
    margin-left: 0px;
    font-size: 15px;
}
.pull-right {
    float: left !important;
}
.pull-left {
    float: right !important;
}
.copyright {
    text-align: right;
}
#sub-footer ul.social-network {
    float: left;
}
#inner-headline ul.breadcrumb {
    float: right;
}
ul.meta-post {
    float: right;
}
ul.meta-post li {
    float: right;
    border-left: 1px dotted #d1d1d1;
    border-right: 0px;
    margin: 0  0  0 10px;
    padding: 0  0  0 10px;
}
ul.meta-post li:last-child {
    border-left: 0px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    float: right;
}

.flex-caption {
    right: auto;
    left: 45px;
}

footer ul.link-list li a:before {
    margin-left: 5px;
    margin-right: 0px;
}
.profile {
    float: right;
    margin-left: 20px;
    margin-right: 0px;
}
.pullquote-left {
    border-right: 5px solid #3494c8;
    border-left: 0px;
    margin-right: 65px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 0px;
}
.text-right {
    text-align: left;
}
.text-left {
    text-align: right;
}
header ul.nav li ul li a {
    font-family: 'Cairo', sans-serif;
}